matplotlib==3.1.1
tensorflow==2.6.4
inflect==0.2.5
librosa==0.6.0
scipy==1.4.1
tensorboardX==1.8
Unidecode==1.0.22
pillow
nltk==3.4.5
jamo==0.4.1
pytorch-transformers==1.1.0
tensorpack==0.9.4
music21
